Repository TidyBee/tidybee-agent, pull requests merged in 2023-09, with the labels that each got.

#50 Add API folder aka tidy-hub to the backend
  hub/Controllers/DashboardController.cs
  hub/Models/FileModel.cs
  hub/Models/TidyScoreModel.cs
  hub/Program.cs
  hub/Properties/launchSettings.json
  hub/appsettings.Development.json
  hub/appsettings.json
  hub/tidybee-hub.csproj
  hub/tidybee-hub.sln
Labels: enhancement, api, C#

#51 41 back 14 create http listener on a different thread
  .gitignore
  agent/Cargo.lock
  agent/Cargo.toml
  agent/src/http_server/http_server.rs
  agent/src/http_server/mod.rs
  agent/src/http_server/routes/get_heaviest_files.rs
  agent/src/http_server/routes/get_users.rs
  agent/src/http_server/routes/hello_world.rs
  agent/src/http_server/routes/mod.rs
  agent/src/main.rs
Labels: rust, tidy-agent

#53 Implement a configuration manager for the tidy-agent
  agent/Cargo.lock
  agent/Cargo.toml
  agent/config/default.json
  agent/src/configuration_wrapper/configuration_wrapper.rs
  agent/src/configuration_wrapper/mod.rs
  agent/src/main.rs
Labels: enhancement, rust, tidy-agent

#39 Init Rust project
  .gitignore
  README.md
  TidyUpSoftware.sln
  agent/Cargo.lock
  agent/Cargo.toml
  agent/Dockerfile
  agent/README.md
  agent/config/default.json
  agent/src/configuration_wrapper/configuration_wrapper.rs
  agent/src/configuration_wrapper/mod.rs
  agent/src/http_server/http_server.rs
  agent/src/http_server/mod.rs
  agent/src/http_server/routes/get_heaviest_files.rs
  agent/src/http_server/routes/get_users.rs
  agent/src/http_server/routes/hello_world.rs
  agent/src/http_server/routes/mod.rs
  agent/src/lister/lister.rs
  agent/src/lister/mod.rs
  agent/src/main.rs
  agent/src/options_parser/mod.rs
  agent/src/options_parser/options_parser.rs
  agent/src/watcher/mod.rs
  agent/src/watcher/watcher.rs
  functionnalTests/README.md
  functionnalTests/TidyUpSoftware.xUnitTests.csproj
  functionnalTests/templateTests.cs
  helloWorld/Program.cs
  helloWorld/tidyupsoftware.csproj
  hub/.gitignore
  hub/Dockerfile
  hub/README.md
  unitaryTests/README.md
  unitaryTests/TidyUpSoftware.nUnitTests.csproj
  unitaryTests/templateTests.cs
Labels: core, rust, tidy-agent

#59 Spawn a new asynchronous task for the http server
  agent/src/main.rs
Labels: rust, tidy-agent

#62 Merge `FileInfo` and `File` structs in dedicated folder
  agent/Cargo.lock
  agent/Cargo.toml
  agent/config/default.json
  agent/src/file_info.rs
  agent/src/http_server/routes/get_heaviest_files.rs
  agent/src/lister/lister.rs
  agent/src/main.rs
Labels: enhancement, rust, tidy-agent

#65 Remove the hub folder and move source to root
  .gitignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  config/default.json
  hub/.gitignore
  hub/Controllers/DashboardController.cs
  hub/Dockerfile
  hub/Models/FileModel.cs
  hub/Models/TidyScoreModel.cs
  hub/Program.cs
  hub/Properties/launchSettings.json
  hub/README.md
  hub/appsettings.Development.json
  hub/appsettings.json
  hub/tidybee-hub.csproj
  hub/tidybee-hub.sln
  src/configuration_wrapper/configuration_wrapper.rs
  src/configuration_wrapper/mod.rs
  src/file_info.rs
  src/http_server/http_server.rs
  src/http_server/mod.rs
  src/http_server/routes/get_heaviest_files.rs
  src/http_server/routes/get_users.rs
  src/http_server/routes/hello_world.rs
  src/http_server/routes/mod.rs
  src/lister/lister.rs
  src/lister/mod.rs
  src/main.rs
  src/options_parser/mod.rs
  src/options_parser/options_parser.rs
  src/watcher/mod.rs
  src/watcher/watcher.rs
Labels: tidy-agent, tidy-hub
